<% provide(:button_text, 'Submit changes') %>
<h1 class='display-3'>Update your information</h1>
<h3>
	<%= render 'update_status', locals: { player: @player } %>
</h3>
<h3>Edit your profile</h3>
<%= render 'form' %>